$btn_col: lighten($main_green, 10%);
.more_btn {
	@include btn(#fff, $btn_col, 24px, $btn_col);
	// display: table;
	// margin:auto;
	// margin-top: 20px;
	// padding-left: 40px;
	// padding-right: 40px;
	// text-transform: uppercase;
}
.more_items_btn {
	@include btn(#fff, $btn_col, 24px, $btn_col);
	-webkit-transition: background-color 0.5s 0s ease-in-out;
	-moz-transition: background-color 0.5s 0s ease-in-out;
	-o-transition: background-color 0.5s 0s ease-in-out;
	-ms-transition: background-color 0.5s 0s ease-in-out;
	transition: background-color 0.5s 0s ease-in-out;
	text-transform: uppercase;
	display: table;
	margin: auto;
	// margin-top: 95px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 50px;
	padding-right: 50px;
	font-weight: 200;
	font-size: 20px;
	margin-bottom: 89px;
}
